@model IEnumerable<Tasneef.Models.Project>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Projects"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var item in Model)
{
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                @Localizer["Project"]: @item.Name
                <br />
                @Html.DisplayFor(modelItem => item.Customer.Name)
                <br />
                <div>@Localizer["Start Date"] </div>

                @item.StartDate.ToString("MM/dd/yyyy")
                <br />
                @if ((item.ClosedDate != null) && (item.ClosedDate != DateTime.MinValue))
                {
                    <div>Close Date:</div>
                    @item.ClosedDate?.ToString("MM/dd/yyyy")
                }

            <br /><br />



                <a class="btn btn-primary waves-effect waves-light" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>



                <a class="btn btn-warning" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>


            </div>
        </div>
    </div>
}

