@model IEnumerable<Tasneef.Models.EmployeeCustomerGrant>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Employee Responsibilities"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card">

        <div class="card-body">

            <p>
                <a asp-action="Create">@Localizer["Create New"]</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Localizer["Employee"]
                        </th>
                        <th>
                            @Localizer["Customer"]
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.Name)
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
</div></div>