@model IEnumerable<Tasneef.ViewModels.AppUserVM>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer.GetString("Users");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">
                @Localizer.GetString("Users List")
            </h4>


            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Localizer.GetString("Name")
                        </th>
                        <th>
                            @Localizer.GetString("Username")
                        </th>
                        <th>
                            @Localizer.GetString("Customer")
                        </th>


                        <th>
                            @Localizer.GetString("Role")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>


                            <td>
                                @Localizer.GetString(item.RoleName??"")
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer.GetString("Edit")</a> |

                                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer.GetString("Delete")</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>