@model Tasneef.Models.Upload

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-12">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">Upload Details</h4>


            <div>

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Message)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Message.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Project)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Project.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Customer)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Customer.Id)
                    </dd>
                    <dt class="col-sm-2">
                        File
                    </dt>

                    <dd class="col-sm-10" dir="ltr">
                        <a href="~/uploads/@Model.FilePath">@Model.FilePath </a>
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tag)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tag)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedBy.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedBy.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedDate)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>