@model IEnumerable<Tasneef.Models.Upload>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Uploads List"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">@Localizer["Uploads"]</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Localizer["Form?"]
                        </th>

                        <th>
                            @Localizer["Customer"]
                        </th>
                        <th>
                            @Localizer["Project"]
                        </th>

                        <th>
                            @Localizer["Tag"]
                        </th>
                        <th>
                            @Localizer["Download"]
                        </th>
                        @*<th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsForm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Tag)
                        </td>

                        <td>
                            <a href="~/Uploads/@item.FilePath">@Localizer["Download"]</a>
                            
                        </td>

                        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedBy.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>*@
                        <td>
                            <a asp-action="UploadForm" asp-route-id="@item.Id">@Localizer["Upload"]</a> |
                            @*<a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |*@

                            <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
