@model IEnumerable<Tasneef.Models.Project>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Create"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card m-b-0">
        <!-- .chat-row -->
        <div class="chat-main-box">
            <!-- .chat-left-panel -->
            <div class="chat-left-aside">
                <div class="open-panel"><i class="ti-angle-right"></i></div>
                <div class="chat-left-inner" style="height: 617px;">
                    <div class="form-material">
                        <input class="form-control p-2" type="text" placeholder="Search Contact">
                    </div>
                    <ul class="chatonline style-none ps ps--theme_default" data-ps-id="74c86ba9-43d6-6b6e-f09a-c13bc2d1cbb3" style="overflow: scroll;">

                        @foreach (var item in Model)
                        {

                            <li>
                                <a onclick="display(@item.Id)">  <span>@item.Name <small class="text-success">@item.Customer.Name</small></span></a>
                            </li>
                        }


                        <li class="p-20"></li>
                        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
                        <div class="ps__scrollbar-y-rail" style="top: 0px; right: 243px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                    </ul>
                </div>
            </div>
            <!-- .chat-left-panel -->
            <!-- .chat-right-panel -->
            <div class="chat-right-aside">
                <div class="chat-main-header">
                    <div class="p-3 b-b">
                        <h4 class="box-title">@Localizer["Chat Message"]</h4>
                    </div>
                </div>
                <div class="chat-rbox ps ps--theme_default" data-ps-id="96440269-fb5e-64b6-2fbb-613800efc2d6">
                    <ul id="chatBoard" class="chat-list p-3" style="height: 437px;overflow-x: hidden;overflow-y: auto; ">
                        <!--chat Row -->


                    </ul>
                    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 1377px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                </div>
                <div class="card-body border-top">
                    <div class="row">
                        <div class="col-8">
                            <textarea id="MessageBody" placeholder="@Localizer["Write message here"]" class="form-control border-0"></textarea>
                        </div>
                        <div class="col-4 text-right">
                            <button id="PostMessage" onclick="SendMessage()" type="button" class="btn btn-info btn-circle btn-lg"><i class="fas fa-paper-plane"></i> </button>
                            <button id="PostMessage" onclick="SendMessage()" type="button" class="btn btn-info btn-circle btn-lg"><i class="fas fa-mail-bulk"></i> </button>
                        </div>
                        <div class="col-4 text-right">

                        </div>
                    </div>
                </div>
            </div>
            <!-- .chat-right-panel -->
        </div>

        <!-- /.chat-row -->
    </div>
</div>
<input id="ProjectId" type="hidden" name="ProjectId" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function display(x) {
            $.get("/api/MessagesApi/" + x, function (result) {
                console.log(result);
                $("#ProjectId").val(x);
                $("#chatBoard").empty();
                //var i = 0;
                for (var item in result) {
                    var user = result[item].createdBy;
                    console.log(user);
                    var userName = "";
                    if (user != null) {
                        userName = user.name;
                    }
                    //i++;
                    //alert(i);
                    AppendMessage(result[item].body, result[item].createdDate, userName);
                    //setTimeout('', i * 300);
                }

                //$("#chatBoard").append("<li><div class=\"chat-img\"><img src=\"/assets/images/users/1.jpg\" alt=\"user\"></div>" +
                //"<div class=\"chat-content\"><h5>" + "</h5><div class=\"box bg-light-info\">" + result.body
                //+ "</div> <div class=\"chat-time\">" + result.createdDate + "</div></div></div></li>");

            }).done(function () {
                //alert("second success");
            })
                .fail(function (e) {
                    console.log(e);
                    alert("Error");
                })
                .always(function () {
                    //alert("finished");
                });


        }
        function AppendMessage(body, createdDate, nameOfUser) {

            $("#chatBoard").append("<li><div class=\"chat-img\"></div>" +
                "<div class=\"chat-content\"><h5>" + "</h5><div class=\"box bg-light-info\">" + body.replace(/\r?\n/g, '<br/>') + "<hr />" + nameOfUser
                + "</div> <div class=\"chat-time\">" + createdDate + "</div></div></div></li>");
            scrollToBottom();





        }
        function SendMessage() {

            var projectID = $("#ProjectId").val();
            //alert(projectID);
            var messageBody = $("#MessageBody").val();
            //alert("OK POST" + projectID + " " + messageBody);

            var message = JSON.stringify(
                {


                    "ProjectId": parseInt(projectID, 10),
                    "Body": messageBody

                });
            //alert(message);
            $.ajax({
                url: '/api/MessagesApi/',
                type: 'POST',
                contentType: 'application/json',
                data: message,
                dataType: 'json'
            })
                .done(function () {
                    var now = new Date();

                    AppendMessage(messageBody, now.toLocaleTimeString(), "Me");
                    $("#MessageBody").val("");
                })
                .fail(function (e) {
                    console.log(e);
                    alert("Error sending message. " + e);
                });



        };

        function scrollToBottom() {
            var objDiv = document.getElementById("chatBoard");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

    </script>
}
