@model Tasneef.Models.EmailConfiguration
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-12">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">
                @Localizer["Email Settings"]
            </h4>

            <div>
                <h4>@Localizer["EmailConfiguration"]</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        
                        @Localizer["From Email"]
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FromEmail)
                    </dd>
                    <dt class="col-sm-2">
                        
                        @Localizer["Sender Name"]
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SenderName)
                    </dd>
                    <dt class="col-sm-2">
                        
                        @Localizer["SMTP Username"]
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SMTPUername)
                    </dd>
                    <dt class="col-sm-2">
                        
                        @Localizer["SMTP Password"]
                    </dt>
                    <dd class="col-sm-10">
                        **********
                    </dd>
                    <dt class="col-sm-2">
                        
                        @Localizer["SMTP Server"]
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SMTPServer)
                    </dd>
                    <dt class="col-sm-2">
                        
                        @Localizer["SMTP Port"]
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SMTPPort)
                    </dd>
                    <dt class="col-sm-2">
                        
                        @Localizer["Enable SSL"]
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EnableSSL)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a>
            </div>
        </div>
    </div>
</div>