@model IEnumerable<Tasneef.Models.EmailConfiguration>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SMTPUername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SMTPPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SMTPServer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SMTPPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnableSSL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SMTPUername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SMTPPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SMTPServer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SMTPPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnableSSL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
