@model IEnumerable<Tasneef.Models.ProjectStatus>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer


@{
    ViewData["Title"] = Localizer["Project Status"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">
                @Localizer["Project Status"]</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Localizer["Name"]
                                    </th>
                                    

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                                            
                                            <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
</div>
    </div>
</div>
