@model IEnumerable<Tasneef.Models.Subscription>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Subscriptions"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-12">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">@Localizer["Subscriptions"]</h4>


            <p>
                <a asp-action="Create">@Localizer["Create New"]</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Localizer["Customer"]
                        </th>
                        <th>
                            @Localizer["Start Date"]
                        </th>
                        <th>
                            @Localizer["End Date"]
                        </th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                                
                                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>