@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Tasneef.Data
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;

@inject IHtmlLocalizer<SharedResource> Localizer
@inject ApplicationDbContext context
@inject IHttpContextAccessor httpContextAccessor
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>
    ();
    string lang = requestCulture.RequestCulture.UICulture.Name;
    string dir = "ltr";
    if (lang == "ar")
        dir = "rtl";

    var _userID = httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    var notifications = context.Notifications.Where(n => n.UserId == _userID && n.Read == false).OrderByDescending(n=>n.CreatedDate);
}

<!DOCTYPE html>
<html lang="en" dir="@dir">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>Tasneef</title>
    <link href="~/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <link href="~/assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet">
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <link href="~/dist/css/pages/chat-app-page.css" rel="stylesheet">
    <link href="~/dist/css/pages/dashboard1.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="skin-blue fixed-layout">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Tasneef</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                            <!-- Light Logo icon -->
                            <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo">
                            <!-- Light Logo text -->
                            <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage">
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item">
                            <form class="app-search d-none d-md-block d-lg-block">
                                <input type="text" class="form-control" placeholder="Search &amp; enter">
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-email"></i>
                                @if (notifications.Count() > 0)
                                {
                                    <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                }
                            </a>
                            <<div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                                <ul>
                                    <li>
                                        <div class="drop-title">@Localizer.GetString("Notifications")</div>
                                    </li>
                                    <li>
                                        <div class="message-center ps ps--theme_default" data-ps-id="efad2bd4-0bb1-9b03-5867-204ea62b9c30">
                                            <!-- Message -->
                                            @foreach (var notify in notifications)
                                            {
                                                <a href="/@notify.Entity/Details/@notify.EntityId">
                                                    <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>@Localizer.GetString(notify.Entity) </h5> <span class="mail-desc">@notify.Title</span> <span class="time">@notify.CreatedDate.ToShortDateString()</span>
                                                    </div>
                                                </a>
                                            }

                                            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: -6px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center link" href="javascript:void(0);"> <strong>@Localizer.GetString("Check all notifications")</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>



                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <partial name="_LoginPartial" />
                        <li>
                            <a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                <i class="icon-speedometer"></i><span class="hide-menu">@Localizer.GetString("Home")</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" sp-area="">
                                <i class="icon-user"></i>
                                <span class="hide-menu">
                                    @Localizer.GetString("Customers")
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a asp-area="" asp-controller="Customers" asp-action="Index">
                                        <i class="icons-Bulleted-List"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Customers List")
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Customers" asp-action="Create">
                                        <i class="icons-Add"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Create Customer")
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark">
                                <i class="icon-user"></i>
                                <span class="hide-menu">@Localizer.GetString("Users")</span>
                            </a>

                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a asp-area="" asp-controller="Users" asp-action="Index">
                                        <i class="icons-Bulleted-List"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Users List")
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Users" asp-action="Create">
                                        <i class="icons-Add-User"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Create User")
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark">
                                <i class="icons-Project"></i>
                                <span class="hide-menu">@Localizer.GetString("Projects")</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a asp-area="" asp-controller="Projects" asp-action="Index">
                                        <i class="icons-Bulleted-List"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Projects List")
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Projects" asp-action="Create">
                                        <i class="icons-Add-Window"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Create Project")
                                        </span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a class="waves-effect waves-dark" asp-area="" asp-controller="Messages" asp-action="Chat">
                                <i class="icons-Mail"></i>
                                <span class="hide-menu">
                                    @Localizer.GetString("Messages")
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="waves-effect waves-dark">
                                <i class="icons-Gears"></i>
                                <span class="hide-menu">
                                    @Localizer.GetString("Settings")
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a asp-area="" asp-controller="ProjectStatus" asp-action="Index">
                                        <i class="icon-list"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Project Status")
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="EmailConfigurations" asp-action="Index">
                                        <i class="icon-list"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Email Configuration")
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a asp-area="" asp-controller="WebServices" asp-action="ShutdownSite">
                                        <i class="icon-list"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Restart App")
                                        </span>
                                    </a>


                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="waves-effect waves-dark">
                                <i class="icons-Upload-toCloud"></i>
                                <span class="hide-menu">
                                    @Localizer.GetString("Uploads")
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a asp-area="" asp-controller="Uploads" asp-action="Index">
                                        <i class="icon-list"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Uploads List")
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Uploads" asp-action="Create">
                                        <i class="icon-list"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Create")
                                        </span>
                                    </a>
                                </li>


                            </ul>


                        </li>


                        <li>
                            <a class="waves-effect waves-dark" asp-area="" asp-controller="Subscriptions" asp-action="Index">
                                <i class="icons-Upload-toCloud"></i>
                                <span class="hide-menu">
                                    @Localizer.GetString("Subscriptions")
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark">
                                <i class="icons-Upload-toCloud"></i>
                                <span class="hide-menu">
                                    @Localizer.GetString("Memos")
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a asp-area="" asp-controller="Memos" asp-action="Index">
                                        <i class="icons-Bulleted-List"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Memos List")
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Memos" asp-action="MyMemos">
                                        <i class="icons-Bulleted-List"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Memos List")
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" asp-area="" asp-controller="CustomerMemos" asp-action="Index">
                                        <i class="icons-Upload-toCloud"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Customer Memos")
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" asp-area="" asp-controller="Memos" asp-action="CreateCustomerMemos">
                                        <i class="icons-Upload-toCloud"></i>
                                        <span class="hide-menu">
                                            @Localizer.GetString("Create Customer Memos")
                                        </span>
                                    </a>
                                </li>
                            </ul>

                        </li>


                        <li>
                            <a class="waves-effect waves-dark" asp-area="Identity" asp-controller="AuditTrails" asp-action="Index">
                                <i class="far fa-circle text-success"></i>
                                <span class="hide-menu">@Localizer.GetString("Audit Trails")</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" asp-area="Identity" asp-page="/Account/Logout" aria-expanded="false">
                                <i class="far fa-circle text-success"></i>
                                <span class="hide-menu">@Localizer.GetString("Log Out")</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">@ViewBag.Title</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">@Localizer.GetString("Home")</a></li>
                                <li class="breadcrumb-item active">@ViewBag.Title</li>
                            </ol>

                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">*@
                    @RenderBody()
                    @*</div>
                            </div>
                        </div>*@
                </div>

            </div>
        </div>
        <footer class="footer">
            <div class="container">
                &copy; @DateTime.Now.Year - @Localizer.GetString("Tasneef") - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer.GetString("Privacy")</a>
            </div>
            <div class="row">

                <div class="col-sm-6 text-right">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </footer>
    </div>
    <script src="~/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/assets/node_modules/popper/popper.min.js"></script>
    <script src="~/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/dist/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="~/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="~/assets/node_modules/morrisjs/morris.min.js"></script>
    <script src="~/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Popup message jquery -->
    

    <!-- Chart JS -->
    <script src="~/dist/js/dashboard1.js"></script>

    <!---->
    <script src="~/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/dist/js/pages/chat.js"></script>














    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@


    @RenderSection("Scripts", required: false)
</body>

</html>
